{
  "presets": [
    ["env", {
      "targets": { "node": 4 },
      "useBuiltIns": true
    }],
    "stage-0"
  ],
  "plugins": [
    "syntax-flow",
    "transform-flow-strip-types",
    "transform-runtime",
    "add-module-exports"
  ]
}
